<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/teste.js"></script>
  <title>Cadastro Prestador</title>
  <br>
  <form action="/" method="GET">
    <button type="submit">HOME</button>
  </form> 
</head>
  <body>
    <h2>Registrar<h2>
    <form action="/cadastro_prestador" method="POST">
      <div id="origem" ,align="center">
        <input type="text" id="id_pessoa" placeholder="João Nascimento" name="NOMUSR">
        <input type="text" id="member" placeholder="RG" name="rg">
        <br>
        <input type="text" id="menber" class="form-control cpf-mask" placeholder="Ex.: 000.000.000-00" name="cpf">
        <input type="text" id="member" placeholder="Telefone Celular" name="telefone_celular">
        <br>
        <input type="text" id="member" placeholder="Altura" name="altura">
        <input type="text" id="member" placeholder="Peso" name="peso">
        <br>
        <input type="date" id="id_prestador" placeholder="Data Nascimento" name="data_nascimento">
        <br>
        <button type="submit">Submit</button>
        </div>
        <div style = "position:relative;" id="destino">
      </div>
    </form> 
  </body>
</html>