<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/teste.js"></script>
  <title>Agendar Encontro</title>
  <br>
  <form action="/" method="GET">
    <button type="submit">HOME</button>
  </form> 
</head>
<body>

    <h2>Agendar<h2>
    <form action="/encontro" method="POST">
        <div id="origem" ,align="center">
        <input type="text" id="member" placeholder="Serviço" name="NOMSVC">
        <input type="float" id="member" placeholder="Valor R$" name="VALOR">
        <br>
        <input type="date" id="member" placeholder="Data Serviço" name="DATA">
        <input type="text" id="member" placeholder="Id_Prestador" name="tb_prestador_idprestador">
        <option></option> 
        <textarea type="text" id="member" name="DESC" cols="40" rows="5"></textarea>
        <br>
        <button type="submit" action="/home" method="GET">Submit</button>
        </div>
        <div style = "position:relative;" id="destino">
        </div>
    </form> 

</body>
</html>

